.sliderArrows--vinicola-shelf {
  padding: 0;
  margin: 0;
  width: 48px;
  height: 48px;
  border: 1px solid #7D6E5B;
  border-radius: 50%;

  &.sliderLeftArrow--vinicola-shelf {
    &::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='21' viewBox='0 0 12 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.4833 1.70947L1.58008 10.6127L10.4833 19.5159' stroke='%237D6E5B' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-size: 100%;
      width: 9px;
      height: 17px;
      display: block;
    }
  }

  &.sliderRightArrow--vinicola-shelf {
    &::after {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='21' viewBox='0 0 12 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5167 1.70947L10.4199 10.6127L1.5167 19.5159' stroke='%237D6E5B' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E%0A");
      background-size: 100%;
      width: 9px;
      height: 17px;
      display: block;
    }
  }

  .caretIcon--vinicola-shelf {
    display: none;
  }
}

.container--vinicola-shelf {
  display: block;

  .paragraph--vinicola-shelf {
    font-size: 16px;
    line-height: normal;
    color: #FFFFFF;
    font-weight: 400;
    text-align: center;
    display: block;
    margin: 10px 0 5px 0;
  }
}
