.imageElement--vinicola-banner,
.imageElement--vinicola-brand-image {
  width: 100%;
  display: block;
}

.imageElement--vinicola-tabs-image {
  width: 100%;
  max-width: 450px;
  max-height: 478px;
  object-fit: contain;
}

:global(.vtex-store-video-1-x-videoElement--vinicola-brand-video) {
  object-fit: contain!important;
}

:global(.vtex-store-video-1-x-videoContainer--vinicola-brand-video) {
  height: auto!important;
  border: none!important;
}
