.flexRowContent--minicart-header {
  padding: 36px 40px 30px;
}

.flexRow--minicart-item {
  border-radius: 8px;
  border: 1px solid var(--primary-variant-2);
  background: #FFF;
  margin: 0;
  box-shadow: none;
}

.flexRowContent--minicart-item {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  align-items: center;

  @media screen and (max-width: 1024px) {
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
      width: auto !important;
    }
  }
}

.flexCol--minicart-item-content,
.flexCol--minicart-img {
  padding: 15px 10px;

  @media screen and (min-width: 1024px) {
    padding: 17px 14px;
  }
}

.flexColChild--minicart-img {
  width: 75px;
}

.flexRowContent--minicart-message {
  margin: 0 0 13px;

  @media screen and (min-width: 1024px) {
    margin: 0 0 8px;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent) {
    margin-top: 0;
  }
}

.flexRowContent--minicart-action {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.flexRow--minicart-footer {
  box-shadow: none;
  padding: 35px 25px 22px;
  background: var(--neutral-variant-2);

  @media screen and (min-width: 1024px) {
    padding: 42px 36px;
  }
}

.flexCol--footer-buttons {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
    gap: 4px;
  }
}

.flexColChild--footer-buttons {
  width: 100%;

  @media screen and (min-width: 1024px) {
    width: auto;
  }
}