.total-minicart {
  cursor: pointer;

  @media screen and (min-width: 1024px) {
    position: relative;
    left: -10px;
    margin-right: -10px;
  }
}

.currencyContainer {
  color: var(--primary-variant);
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
}

.closeIconButton--minicart-close {
  border: 0;
  border-radius: 8px;
  height: 38px;
  color: var(--primary);
  background: var(--neutral);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  font-family: 'Montserrat', sans-serif;
  width: 100%;

  @media screen and (min-width: 1024px) {
    width: 206px;
  }
}