.paragraph--title-minicart {
  color: var(--primary);
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  display: none;

  @media screen and (min-width: 1024px) {
    display: inherit;
  }
}