/* MINICART */
.productPrice--minicart-item--gift {
  position: absolute;
  left: 0;
  background: #FFF;
  width: 100%;
}

.productPriceContainer--minicart-item {
  position: relative;
}

.productImageContainer--minicart {
  display: flex;
  justify-content: center;
  width: 75px !important;
}

.removeButtonContainer--minicart-item {
  height: 32px;
  width: 32px !important;
  position: absolute;
  right: 10px;
  bottom: 18px;
  background: var(--neutral-variant-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 1024px) {
    top: 15px;
    right: 9px;
    bottom: inherit;
  }
}

.deleteIcon--minicart-item {
  display: none;
}

.removeButton--minicart-item {
  width: 17px;
  height: 17px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_380_66)'%3E%3Cpath d='M2.02734 4.03369H3.36441H14.0609' stroke='%2388765E' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.7242 4.0335V13.393C12.7242 13.7476 12.5833 14.0877 12.3326 14.3384C12.0818 14.5891 11.7417 14.73 11.3871 14.73H4.70181C4.3472 14.73 4.00711 14.5891 3.75636 14.3384C3.50561 14.0877 3.36475 13.7476 3.36475 13.393V4.0335M5.37034 4.0335V2.69644C5.37034 2.34183 5.51121 2.00174 5.76196 1.75099C6.01271 1.50024 6.3528 1.35938 6.70741 1.35938H9.38154C9.73615 1.35938 10.0762 1.50024 10.327 1.75099C10.5777 2.00174 10.7186 2.34183 10.7186 2.69644V4.0335' stroke='%2388765E' stroke-width='1.2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_380_66'%3E%3Crect width='16.0448' height='16.0448' fill='white' transform='translate(0.0219727 0.0224609)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

.productName--minicart-item {
  color: var(--primary);
  font-size: 11px;
  font-weight: 700;
  line-height: normal;
  height: 28px;
  margin-bottom: 20px;

  @media screen and (min-width: 1024px) {
    font-weight: 400;
    padding-right: 40px;
    margin-bottom: 10px;
  }
}

.productPriceContainer--minicart-item {
  width: 135px !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 1024px) {
    width: 180px !important;
  }
}

.productPriceCurrency--minicart-item {
  margin-bottom: 0;
}

.currencyContainer--minicart-item {
  color: var(--primary);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
}

.price {
  width: inherit;
}

.productPrice--minicart-item {
  color: var(--red);
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
}

.quantitySelectorButton:disabled {
  cursor: not-allowed;
}

.quantitySelectorContainer--minicart-item {
  display: flex;
  justify-content: center;
  border-radius: 80px;
  border: 1px solid #e7e4df;
  padding: 3px 5px;
  max-width: 142px;
  width: auto;
  margin-right: 47px;

  @media screen and (min-width: 1024px) {
    max-width: 115px;
  }
}

.quantitySelectorWrapper--minicart-item {
  position: relative;
  width: 100%;
}

.quantitySelectorDecrease--minicart-item,
.quantitySelectorIncrease--minicart-item {
  position: absolute;
  width: 24px;
  height: 24px;
  background: #f4f2ef;
  border-radius: 50%;
  border: 0;
}

.quantitySelectorDecrease--minicart-item {
  bottom: 0;
  left: 0;

  &::after {
    content: "-";
    font-family: 'Montserrat', sans-serif;
    color: var(--primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
}

.quantitySelectorIncrease--minicart-item {
  bottom: 0;
  right: 0;

  &::after {
    content: "+";
    font-family: 'Montserrat', sans-serif;
    color: var(--primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
  }
}

.quantitySelectorWrapper--minicart-item {

  :global(.vtex-product-list-0-x-inputContainer) {
    border: 0;
    color: var(--primary);
    font-size: 14px;
    height: 24px;
    padding: 0;
    pointer-events: none;
    width: 20px;
    font-weight: 700;
  }
}

.productListUnavailableItemsMessage, .productListAvailableItemsMessage {
  margin: 0 0 10px;
  color: var(--gray-700);
  font-size: 14px;
  padding: 0;
  border: 0;
  font-weight: 700;
}

.availabilityMessageTextContainer {
  padding: 8px 10px;
  position: relative;

  &::before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
    top: -8px;
    transform: rotate(45deg);
    background-color: #fff6e0;
    z-index: -1;
  }
}

.availabilityMessageText {
  color: var(--gray-700);
  font-size: 12px;
  font-weight: 700;
}

/* MINICART */
