.sliderLayoutContainer--slider-categories {
  .container--slider-categories {
    display: none;
  }

  .infoCardContainer--slider-categories {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    padding: 0;
  }

  .infoCardImageContainer--slider-categories,
  .infoCardTextContainer--slider-categories,
  .infoCardCallActionContainer--slider-categories {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .infoCardImage--slider-categories {
    max-width: 105px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
  }

  .infoCardCallActionContainer--slider-categories :global(.vtex-button) {
    background-color: transparent;
    border: 0;
    min-height: auto;
  }

  .infoCardCallActionText--slider-categories,
  .infoCardCallActionContainer--slider-categories,
  .infoCardCallActionContainer--slider-categories :global(.vtex-button__label) {
    color: var(--primary);
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    padding: 0!important;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
  }
}
