.container--breadcrumb {
  @media(max-width: 1025px) {
    padding: 15px;
    background: #e1d8d0;
  }

  @media(min-width: 1026px) {
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 0;
  }
}

.homeLink--breadcrumb {
  padding: 0 10px 0 0!important;

  &::before {
    content: "Início";
  }
}

.homeIcon--breadcrumb {
  color: var(--primary);
    width: 15px;
    height: 15px;
}

.caretIcon--breadcrumb, .homeIcon--breadcrumb {
  display: none;
}

.arrow--breadcrumb {
  padding: 0;

  &:last-child {
    .link--breadcrumb {
      color: var(--terciary);
    }
  }

  &::before {
    content: "|";
    color: var(--primary);
  }
}

.link--breadcrumb {
  font-size: 10px;
  text-transform: uppercase;
  color: var(--primary);
  font-weight: 700;
  padding: 0 10px;

  &:hover {
    color: var(--primary);
  }
}

.term--breadcrumb {
  font-size: 10px;
  text-transform: uppercase;
  color: var(--terciary);
  font-weight: 700;
  padding: 0 10px;

  &:hover {
    color: var(--terciary);
  }
}
