.flexRow--header-desktop {
  padding: 20px 0;
  background: var(--white);
  border-top: 4px solid var(--secondary);
}

.flexRowContent--header-desktop, .flexRowContent--header-mobile-body {
  gap: 0 24px;
  align-items: center;
  padding: 26px 0 22px;
  justify-content: flex-start;

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
    margin-left: auto;

    @media(min-width: 1024px) {
      margin-left: inherit;
    }
  }

  @media(min-width: 1024px) {
    gap: 0 24px;
    padding: 0;
    justify-content: space-between;
  }
}

.flexCol--header-desktop-search {
  width: 100%;

  @media(min-width: 1024px) {
    margin-left: 78px;
  }
}

.flexCol--header-desktop-links, .flexRowContent--header-mobile-body {
  @media(min-width: 1024px) {
    gap: 0 12px;
  }

  :global(.vtex-button) {
    // height: 25px;
    // width: 25px;
    border: 0;
    padding: 0;
    min-height: inherit;

    // @media(min-width: 1024px) {
    //   height: 32px;
    //   width: 32px;
    // }

    &:hover {
      background: none;
    }
  }

  :global(.vtex-button__label) {
    padding: 0 !important;
    height: fit-content;
  }
}

.flexCol--header-desktop-links, .flexCol--header-mobile-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  justify-content: flex-end;

  @media(min-width: 1024px) {
    gap: 31px;
  }
}

.flexRow--header-mobile-busca {
  padding-bottom: 12px;
}

.flexRowContent--header-mobile-busca {
  display: block;
}

.flexRow--login-content {
  padding: 0 0 40px;
}

@media screen and (min-width: 1024px) {
  .flexRow--login-content {
    padding: 20px 0;
  }
}

/*Tipbar*/
.flexRow--tipbar {
  background-color: var(--secondary)
}

.flexRowContent--tipbar {
  justify-content: center;

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100% !important;
  }
}
