.logoContainer {
  padding: 0;
}

.searchBarContainer {
  padding: 0;
  width: 100%;
  max-width: inherit;

  @media(min-width: 1024px) {
    width: 365px;
  }

  :global(.vtex-input-prefix__group) {
    height: 47px;
    border-radius: 4px;
    border: 1px solid var(--Off-White, #E1D8D0);
    padding-left: 4px;
  }

  .searchBarInnerContainer {
    :global(.vtex-styleguide-9-x-input) {
      background-color: var(--white);
      color: var(--primary);
      font-size: 12px;
      position: relative;
      padding: 0 16px 0 0;
      order: 2;
    }

    :global(.vtex-styleguide-9-x-input)::placeholder {
      color: var(--primary);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
    }
  }
}

.searchBarIcon--search {
  padding-right: 0;
}

.searchIcon {
  @media(min-width: 1024px) {
    width: 16px;
    height: 15px;
  }
}

.imageElement--header-wishlist {
  position: relative;
  top: 2px;
  height: 25px;
  min-width: 25px;

  @media(min-width: 1024px) {
    height: inherit;
  }
}

.imageElement--minicart-icon {
  min-width: 24px;
}

.resultsList {
  margin-top: 2px;
  border: 1px solid var(--secondary);
  border-radius: 4px 4px 0 0;
}

.resultsItem {
  font-size: 12px;
  margin-bottom: 8px;
  color: var(--gray-700);
  padding: 8px 12px;
  font-weight: 500;

  &:first-child {
    font-size: 14px;
    color: var(--gray-900);
  }
}

.resultsItemName {
  font-size: 12px;
  color: var(--gray-700);
  font-weight: 500;
}
