:global(.santaluzia-order-placed-0-x-orderPaymentItem) :global(.t-body) :global(.c-muted-1) {
  font-size: 12px;
  line-height: 14px;
  color: #88765E;
  font-weight: 500;
}

:global(.santaluzia-order-placed-0-x-addressContainer) :global(.address-summary) {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 4px;
}
