/* Prices */
.priceWrapper {
  color: #87765E;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}

.priceUnit,
.pricePack {
  display: flex;
}

.priceLabel {
  font-size: 12px;
  padding-right: 4px;
}

.pricePrice {
  font-size: 24px;
  color: var(--secondary);
  font-weight: 700;
  margin: 0 0 42px 0;
}

.priceListPrice .price {
  font-size: 14px;
  color: #88765E;
  font-weight: 400;
  text-decoration: line-through;
  margin: 0;
}

.price {
  font-size: 24px;
  color: #DD052A;
  font-weight: 700;
  margin: 0;
}

.priceListPrice {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 16px;
}

.priceDiscount {
  background: #DD052A;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 13px;
  color: #FFFFFF;
  font-weight: 700;
  margin: 0;
}

.savings {
  flex-grow: 1;
  text-align: right;
}

.flagSaving {
  border-radius: 4px;
  background: var(--secondary);
  color: var(--white);
  font-size: 6px;
  font-weight: 700;
  line-height: 12px;
  padding: 4px 6px
}

@media (min-width: 1024px) {
  .flagSaving {
      font-size:12px;
      padding: 6px 8px
  }
}
/* Prices */

/* Buy Pack */
.skuSelectList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 20px;
}

.skuSelectItem {
  align-items: center;
  border-color: #7b6f5d33;
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  padding: 16px 25px;
}

@media (min-width: 1024px) {
  .skuSelectItem {
    padding: 16px 30px;
  }
}

.skuSelectIcon {
  margin-right: 24px;
  position: relative;
}

@media (min-width: 1024px) {
  .skuSelectIcon {
    margin-right: 35px;
  }
}

.skuSelectImage {

}

.skuSelectQty {
  align-items: center;
  background-color: #88765E;
  border-radius: 14px;
  color: #ffffff;
  display: flex;
  font-size: 9px;
  font-weight: bold;
  height: 14px;
  justify-content: center;
  position: absolute;
  right: -4px;
  top: 13px;
  width: 14px;
}

.skuSelectLabel {

}

.skuSelectTitle {
  color: #88765E;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.skuSelectSubTitle {
  color: #88765E;
  font-size: 13px;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  .skuSelectSubTitle {
    font-size: 18px;
  }
}

.skuSelectPrices {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.skuSelectListPrice {
  align-items: flex-end;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.skuSelectListPrice .flagSaving {
  font-size: 9px;
  padding: 2px 4px;
}

.skuSelectListPrice .price {
  color: #88765e;
  font-size: 12px;
  font-weight: 400;
  text-decoration: line-through;
}

.skuSelectPrice {
  align-items: flex-end;
  color: #88765E;
  display: flex;
  font-weight: bold;
  gap: 4px;
}

.skuSelectPrice .price {
  color: #88765E;
  font-weight: bold;
}

.skuSelectUnid {
  font-size: 9px;
  font-weight: normal;
  padding-bottom: 2px;
}

.selectedBox {
  background-color: rgba(136, 118, 94, 0.2);;
}

.skuSelectSaving {

}
/* Buy Pack */
.selectorPackButton{
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.selectorPack{
  margin-top: 5px;
  margin-right: 28px;
}
