.SectionListBanners {
  display: flex;
}

.SectionListMedia {
  flex: 1;
}

.SectionListImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SectionListTitle {
  background: rgba(136, 118, 94, 0.20);
  padding: 16px;

  :global(.vtex-list-context-0-x-container--cardapio-detalhes) {
    display: block;
  }

  :global(.vtex-list-context-0-x-paragraph--cardapio-detalhes) {
    color: var(--terciary);
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
  }
}

.SectionListTextGeneral {
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px 16px;

  :global(.vtex-list-context-0-x-paragraph--cardapio-detalhes) {
    color: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }
}

.SectionListColumns {
  padding: 16px 16px 0 16px;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  align-items: flex-start;

  @media(min-width: 1026px) {
    gap: 50px;
  }

  @media(max-width: 1025px) {
    flex-direction: column;
  }
}

.SectionListColumn {
  flex: 1;
  width: 100%;
}
