.ShowCasePost {

}

.ShowCasePostContainer {


  @media (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
    gap: 35px;
    max-width: 1050px;
  }
}

.ShowCasePostContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;

  @media (min-width: 1024px) {
    justify-content: center;
    padding-bottom: 90px;
    width: 42%;
  }
}

.ShowCasePostMedia {
  align-items: center;
  display: flex;
  margin: 0 0 18px;

  @media (min-width: 1024px) {
    margin: 0;
    padding: 0 48px;
    position: relative;
    width: 58%;

    &::before {
      background: var(--neutral-variant-5);
      content: "";
      display: block;
      height: 80%;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  }
}

.ShowCasePostTitle {
  color: var(--primary);
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  text-align: center;

  @media (min-width: 1024px) {
    font-size: 34px;
    text-align: left;
  }
}

.ShowCasePostText {

  :global(.vtex-slider-layout-0-x-paragraph) {
    color: var(--primary);
    font-size: 10px;
    font-weight: 400;
    line-height: 19px;
    margin: 0;
    text-align: center;

    @media (min-width: 1024px) {
      font-size: 12px;
      line-height: 24px;
      text-align: left;
    }
  }
}

.ShowCasePostLink {
  align-items: center;
  background: var(--terciary);
  border-radius: 4px;
  color: #fff;
  display: flex;
  font-size: 12px;
  font-weight: 700;
  height: 49px;
  line-height: 24px;
  margin: 10px auto 0;
  padding: 0 50px;
  text-decoration: none;
  width: fit-content;

  @media (min-width: 1024px) {
    margin: 0;
  }
}

.ShowCasePostImage {
  position: relative;
  z-index: 1;
}
