@import "./components/form/santaluzia-form-base";

.formContainer {
  gap: 9px;

  :global(.vtex-checkbox__inner-container) {
    border: 1.5px solid #88765e;
    border-radius: 4px;
  }
  :global(.vtex-checkbox__line-container) {
    display: flex;
    align-items: center;
  }
}

.formContent {
  margin-top: 6px;
  :global(.vtex-textarea__input) {
    height: 170px;
    border-radius: 4px;
    border: 1.5px solid #e1d8d0;
  }

  :global(.vtex-input-prefix__group) {
    border-radius: 4px;
    border: 1.5px solid #e1d8d0;
    background: #fff;
  }
}

.formSubmitButton {
  @media screen and (min-width: 1024px) {
    max-width: 252px;
  }
}

@media screen and (max-width: 768px) {
  .errorMessage {
    text-align: left !important;
  }
}

.formGiftStepsModal {
  .dialogContainer {
    background: #f3f1ec;
    height: 100%;
    border: none;
    left: auto;
    width: 100%;

    @media screen and (min-width: 768px) {
      padding: 120px 60px 2em;
      max-width: 50%;
    }
    .container {
      .wrapper {
        margin: 0 auto;
        .heading {
          font-weight: 600;
          font-size: 28px;
          line-height: 40px;
          text-align: center;
          text-transform: uppercase;
          color: var(--red);
          margin: 0;
          @media screen and (min-width: 768px) {
            font-size: 32px;
          }
        }

        .paragraph {
          margin: 0;
          font-weight: 500;
          font-size: 16px;
          line-height: 32px;
          text-align: center;
          color: #5d544d;
          opacity: 0.7;
        }
      }
    }
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    :global(.vtex-button) {
      background-color: transparent;
      color: #5d544d;
      border: none;
      padding: 0;

      :global(.vtex-button__label) {
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 10px;
      }
    }

    .closeButton {
      margin-left: auto;
    }
  }

  .footerContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
    .skipButton {
      display: flex;
      align-items: center;
      justify-content: center;
      :global(.vtex-button) {
        background-color: transparent;
        color: var(--black);
        border: none;
        text-decoration: underline;
      }
    }
  }

  .continueButton {
    :global(.vtex-button) {
      width: 182px;
      height: 56px;
      background: var(--red);
      margin: auto;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      border: 2px solid var(--red);
      border-radius: 2px;
      transition: all 0.3s;

      &:hover {
        background: transparent;
        color: var(--red);
      }
    }
  }

  .fieldset {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    border: none;
    margin: 3rem 0 0;
    padding: 0;

    :global(.vtex-textarea__label),
    :global(.vtex-input__label) {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #322f2c;
      opacity: 0.7;
    }

    :global(.vtex-textarea__input),
    :global(.vtex-input-prefix__group) {
      background-color: transparent;
      border: none;
      border-bottom: 2px solid #e1e1e1;
      border-radius: 0;

      :global(.vtex-styleguide-9-x-input) {
        background-color: transparent;
      }
    }

    :global(.vtex-textarea__input) {
      min-height: 100px;
      padding: 0;
    }

    .labelContent {
      display: flex;
      flex-direction: row;
      border-bottom: 2px solid #e1e1e1;
      align-items: center;

      font-size: 16px;
      color: #999;
      font-weight: 500;
      :global(.vtex-input-prefix__group) {
        border: none;
      }
    }
  }
  :global(.vtex-input__error) {
    color: #ff4c4c;
    font-size: 12px;
  }

  .labelContainer {
    :global(.vtex-checkbox__label) {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #322f2c;
      opacity: 0.7;
    }
  }

  .step2Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .fieldset {
      max-width: 780px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      @media screen and (max-width: 768px) {
        gap: 10px;
      }
    }

    .labelContainer {
      display: flex;
      width: 167px;
      height: 85px;
      width: 165px;
      border: 1px solid #bbb;
      height: 85px;
      display: flex;
      justify-content: center;
      align-items: center;

      font-weight: 600;
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      color: #5d544d;

      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background: #d7d7d7;
      }
    }

    .inputRadio {
      display: none;
    }
  }

  .formCloseButton {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
}
