@import "./pages/account/account-menu";
@import "./pages/account/account-header";
@import "./pages/account/account-footer";
@import "./pages/account/account-dados-pessoais";
@import "./pages/account/account-endereco";
@import "./pages/account/account-pedidos";
@import "./pages/account/account-card";
@import "./pages/account/account-autenticacao";
@import "./pages/account/account-wishlist";

// geral
:global(.vtex-account) {
  :global(.w-100.mw9.pv7-m.pv9-l.flex) {
    max-width: 1200px;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 14px;
    padding-right: 14px;
    font-family: Montserrat;
  }

  :global(.vtex-account__page) {
    width: 100%;
  }

  // wishlist
  :global(.wish-list) {
    font-size: 14px;
    line-height: normal;
    color: #7D6E5B;
    font-weight: 400;
  }
}

// títulos do corpo
:global(.vtex-account__page-body) .dataEntryLabel,
:global(.vtex-account__page-body) .newsletterContainerTitle,
.boxContainer :global(.vtex-input__label),
:global(.vtex-dropdown__label),
:global(.vtex-input__label) {
  font-size: 12px;
  line-height: normal;
  color: #7D6E5B;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 5px 0;
  font-family: Montserrat!important;
}

// dados salvos
:global(.vtex-account__page-body) .dataEntryChildren {
  font-size: 12px;
  line-height: normal;
  color: #7D6E5B;
  font-weight: 400;
}

// input
:global(.vtex-my-account-1-x-boxContainer) {
  :global(.vtex-input-prefix__group) {
    border: none;

    :global(.border-box) {
      border: 1px solid rgba(125,110,91,.2);
      border-radius: 4px;
      height: 40px;
      transition: .2s linear;
      font-family: Montserrat;
      font-size: 12px;
      color: #7D6E5B;

      &:focus {
        border: 1px solid #EC7646;
      }
    }
  }
}

:global(.vtex-profile-form-3-x-genderInput) {
  :global(.br2.bw1.relative.bg-white.ba.b--light-gray.hover-b--silver) {
    border: 1px solid rgba(125,110,91,.2);
    border-radius: 4px;
    height: 40px;
    transition: .2s linear;
    font-family: Montserrat;
    font-size: 12px;
    color: #7D6E5B;

    :global(.vtex-dropdown__button) {
      padding: 11px;
      font-family: Montserrat;
      font-size: 12px;
      color: #7D6E5B;
    }

    :global(select) {
      font-size: 12px;
      color: #7D6E5B;
      font-family: Montserrat;
    }
  }
}

:global(.vtex-dropdown__container) {
  border: 1px solid rgba(125,110,91,.2);
  border-radius: 4px;
  height: 40px;
  transition: .2s linear;
  font-family: Montserrat;
  font-size: 12px;

  :global(.vtex-dropdown__button) {
    font-size: 12px;
    color: #7D6E5B;
  }

  :global(select) {
    font-size: 12px;
    color: #7D6E5B;
  }
}

:global(.vtex-dropdown__arrow) {
  color: #7D6E5B;
}

:global(.vtex-dropdown__arrow svg g) {
  fill: #7D6E5B;
}

// buttons
:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) {
  margin-bottom: 10px;

  :global(.vtex-button) {
    border-radius: 4px;
    border: 1px solid #EC7646;
    background: #FFF!important;
    transition: .2s linear;
    color: #EC7646!important;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 13px;

    &:hover {
      background: #EC7646!important;
      color: #FFF!important;
    }
  }
}

:global(.vtex-profile-form-3-x-profileContainer),
:global(.vtex-my-account-1-x-boxContainerBody),
:global(.vtex-my-cards-1-x-newCardButton) {
  :global(.vtex-button) {
    border-radius: 4px;
    border: 1px solid #EC7646;
    background: #EC7646;
    transition: .2s linear;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 13px;

    :global(.vtex-button__label) {
      padding: 0!important;
    }
  }
}

:global(.vtex-pageHeader__children) {
  width: 100%;

  @media(min-width: 721px) {
    max-width: 215px;
  }

  @media(max-width: 720px) {
    margin-top: 15px;
  }
}

:global(.newAddressButton) {
  :global(.vtex-button) {
    border-radius: 4px;
    border: 1px solid #EC7646;
    background: #EC7646;
    transition: .2s linear;
    color: #FFF;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 13px;

    :global(.vtex-button__label) {
      padding: 0!important;
    }
  }
}

// vazio
:global(.t-heading-4.mt0) {
  line-height: normal;
  color: #7D6E5B;
  opacity: 0.3;
  font-weight: 700;
  display: block;

  @media(min-width: 1026px) {
    font-size: 34px;
    padding-top: 100px;
  }

  @media(max-width: 1025px) {
    font-size: 24px;
    padding-top: 40px;
  }
}

:global(.t-heading-4.mt0) :global(.c-on-base) {
  color: #7D6E5B;
}

:global(.vtex-toast) {
  background-color: #EC7646!important;
}
