.menuContainerNav--footer-menu {
  margin-top: 10px;

  .styledLinkContainer {
    margin: 0;
    padding: 0;
  }

  .styledLinkContent {
    color: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;

    &:hover {
      color: var(--secondary);
    }
  }
}

.styledLink--footer-menu--highlight .styledLinkContent--footer-menu {
  font-weight: bold;
}

.menuContainer--footer-menu-company,
.menuContainer--footer-menu-infos {
  .styledLinkContent {
    font-size: 11px;
  }
}

.accordionIcon--menu-footer-mobile--isClosed,
.accordionIcon--menu-footer-mobile--isOpen {
  font-size: 0;
  content: "";
  width: 12px;
  height: 6px;
  background-size: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='9' viewBox='0 0 14 9' fill='none'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%2388765E' stroke-width='2'/%3E%3C/svg%3E");
}

.accordionIcon--menu-footer-mobile--isOpen {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='9' viewBox='0 0 14 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 8L7 2L1 8' stroke='%2388765E' stroke-width='2'/%3E%3C/svg%3E%0A");
}
