.imageElement--footer-payments,
.imageElement--footer-security {
  margin: 0 12px 8px 0;
}

.imageElement--footer-vtex-logo {
  width: 66px;
  object-fit: contain;
}

.imageElement--footer-datasoul-logo {
  width: 100px;
  object-fit: contain;
}
