// breadcrumb
.styledLinkContainer--breadcrumb-institucional {
  margin: 0;

  .styledLinkContent--breadcrumb-institucional {
    color: var(--primary);
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .styledLinkContent--breadcrumb-institucional-last {
    &::before {
      content: "|";
      color: var(--primary);
      padding-right: 10px;
    }
  }
}

// menu
.menuContainerNav--menu-institucional {
  border: 1px solid #E1D8D0;
  border-radius: 8px;
  min-width: 207px;
  overflow: hidden;

  .menuItem--menu-institucional {
    display: flex;
    border-bottom: 1px solid #e1d8d0;

    &:last-child {
      border-bottom: none;
    }

    .styledLinkContainer--menu-institucional {
      padding: 0;
      margin: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }

    .styledLink--menu-institucional {
      display: flex;
      color: var(--primary);
      font-size: 12px;
      font-weight: 500;
      line-height: normal;
      padding: 16px;
      width: 100%;
      position: relative;

      &::before {
        @media(min-width: 1024px) {
          content: "";
          border-radius: 0 2px 2px 0;
          background: var(--terciary);
          height: 100%;
          width: 4px;
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          transition: all .4s;
        }
      }

      &::after {
        @media (min-width: 1024px) {
          content: "";
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='8' viewBox='0 0 5 8' fill='none'%3E%3Cpath d='M1 1L4 4L1 7' stroke='%23E56F2E' stroke-linecap='round'/%3E%3C/svg%3E");
          background-size: 6px;
          background-position: left center;
          height: 100%;
          width: 16px;
          background-repeat: no-repeat;
          position: absolute;
          right: 0;
          top: 0;
          opacity: 0;
          transition: all .4s;
        }
      }

      &--highlight,
      &:hover {
        @media (min-width: 1024px) {
          color: var(--terciary);

          &::before,
          &::after {
            opacity: 1;
          }
        }
      }
    }
  }
}

// menu mobile

.menuItem--menu-title-institucional-mobile--isOpen {
  .accordionIcon--menu-title-institucional-mobile {
    transform: rotate(90deg);
  }
}

.styledLinkContainer--menu-title-institucional-mobile {
  background: rgba(225, 216, 208, 0.2);
  margin: 0;
  padding: 16px;

  .styledLinkContent--menu-title-institucional-mobile {
    color: var(--terciary);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    align-items: center;

    .accordionIcon--menu-title-institucional-mobile {
      font-size: 0;
      height: 12px;
      transition: .2s linear;

      &::before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='12' viewBox='0 0 8 12' fill='none'%3E%3Cpath d='M1 1L6 6L1 11' stroke='%23E56F2E' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 8px;
        height: 12px;
        display: block;
      }
    }
  }
}

.submenuAccordion--menu-institucional-mobile {
  flex-direction: column;
  background: #F9F7F6;
  border-top: 1px solid rgba(125, 110, 91, 0.2);
  padding: 10px 0;

  .styledLinkContainer--menu-institucional-mobile {
    padding: 10px 16px;
    margin: 0;
  }

  .styledLink--menu-institucional-mobile {
    color: var(--primary);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;

    &--highlight {
      color: var(--terciary);
    }
  }
}

// cardapio
.menuContainer--cardapio-detalhes-menu {
  border-bottom: 1px solid rgba(136, 118, 94, 0.20);
  margin-bottom: 25px;
  gap: 55px;
  overflow-x: auto;
  padding: 0 16px;

  @media(min-width: 1026px) {
    justify-content: center;
  }

  .styledLinkContainer--cardapio-detalhes-menu {
    padding: 0;
    margin: 0;

    .styledLinkContent--cardapio-detalhes-menu {
      color: var(--primary);
      font-size: 12px;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      opacity: 0.5;
      padding: 0 0 25px 0;
    }

    .styledLink--highlight {
      .styledLinkContent--cardapio-detalhes-menu {
        color: var(--terciary);
        opacity: 1;
        border-bottom: 2px solid var(--terciary);
      }
    }
  }
}
