// linha do tempo
:global(.vtex-flex-layout-0-x-flexColChild--first-column) {
  .imageElement--bloco-tempo-image {
    margin: 5px 0 0 auto;
  }
}

:global(.vtex-flex-layout-0-x-flexColChild--second-column) {
  .imageElement--bloco-tempo-image {
    margin: 5px auto 0 0;
  }
}

.imageElement--bloco-tempo-image {
  width: 100%;
  max-width: 355px;
  display: block;

  @media(max-width: 1025px) {
    margin-bottom: 25px;
  }
}
// linha do tempo

// sustentabilidade
.infoCardContainer--infocard-sustentabilidade {
  max-width: 1200px;
  background: transparent;
  align-items: flex-start;

  @media(min-width: 1026px) {
    padding: 50px 14px;
    gap: 60px;
  }

  @media(max-width: 1025px) {
    display: flex;
    flex-direction: column;
    padding: 0 0 28px 0;
    gap: 35px;
  }
}

.infoCardTextContainer--infocard-left {
  @media(min-width: 1026px) {
    order: 2;
    padding: 0;
  }
}

.infoCardTextContainer--infocard-sustentabilidade {
  @media(max-width: 1025px) {
    padding: 0 28px;
    order: 2;
  }
}

.infoCardImageContainer--infocard-sustentabilidade {
  @media(max-width: 1025px) {
    width: 100%;
  }

  .infoCardImage--infocard-sustentabilidade {
    width: 100%;

    @media(min-width: 1026px) {
      max-width: 500px;
    }
  }
}

.infoCardTextContainer--infocard-sustentabilidade {
  @media(min-width: 1026px) {
    width: 60%;
  }

  @media(max-width: 1025px) {
    width: 100%;
  }

  .container--infocard-sustentabilidade {
    &:first-child {
      .paragraph--infocard-sustentabilidade {
        color: var(--secondary);
        font-size: 18px;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
        margin: 0 0 20px 0;
      }
    }

    &:last-child {
      .paragraph--infocard-sustentabilidade {
        font-size: 12px;
        line-height: 23px;
        color: var(--primary);
        font-weight: 400;
        margin: 0;
      }
    }
  }
}
// sustentabilidade

// presentes
.infoCardTextContainer--infocard-presentes {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 14px;
  box-sizing: content-box;

  @media(max-width: 1025px) {
    padding-top: 300px;
    padding-bottom: 30px;
  }

  @media(min-width: 1450px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  @media(min-width: 1026px) and (max-width: 1449px) {
    padding-top: 90px;
    padding-bottom: 80px;
  }

  .container--infocard-presentes {
    &:first-child {
      .paragraph--infocard-presentes {
        &:first-child {
          color: var(--primary);
          font-size: 24px;
          font-weight: 700;
          line-height: normal;
          margin: 0;
          text-transform: uppercase;
        }

        &:last-child {
          color: var(--primary);
          font-size: 16px;
          font-weight: 400;
          line-height: normal;
          margin: 5px 0 0 0;
        }
      }
    }

    .paragraph--infocard-presentes {
      font-size: 13px;
      line-height: 19px;
      color: var(--primary);
      font-weight: 400;
      margin: 15px 0 25px 0;
      max-width: 470px;
    }
  }
}

.infoCardCallActionContainer--infocard-presentes {
  margin: 0;

  :global(.vtex-button) {
    border-radius: 4px;
    background: var(--secondary);
    border: 1px solid var(--secondary);
    transition: .2s linear;

    &:hover {
      background: transparent;

      :global(.vtex-button__label) {
        color: var(--secondary);
      }
    }

    :global(.vtex-button__label) {
      color: var(--white);
      font-size: 13px;
      font-weight: 700;
      line-height: 19px;
      text-transform: initial;
      padding: 15px 60px!important;
    }
  }
}

.infoCardContainer--infocard-presentes {
  @media(max-width: 1025px) {
    background-position: right top;
  }

  @media(min-width: 1026px) {
    background-position: center right;
  }
}

.infoCardContainer--infocard-presentes-saibamais {
  background: transparent;
  padding: 0;

  @media(max-width: 1025px) {
    flex-direction: column;
  }
}

.container--infocard-presentes-saibamais {
  &:first-child {
    .paragraph--infocard-presentes-saibamais {
      &:first-child {
        color: var(--primary);
        font-size: 24px;
        font-weight: 700;
        line-height: normal;
        margin: 0;
        text-transform: uppercase;
      }

      &:last-child {
        color: var(--primary);
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
        margin: 5px 0 0 0;
      }
    }
  }

  .paragraph--infocard-presentes-saibamais {
    font-size: 13px;
    line-height: 19px;
    color: var(--primary);
    font-weight: 400;
    margin: 15px 0 25px 0;

    @media(min-width: 1026px) {
      max-width: 470px;
    }

    @media(max-width: 1025px) {
      text-align: center;
    }
  }
}

.infoCardCallActionContainer--infocard-presentes-saibamais {
  margin: 0;
  text-decoration: none;
  width: 100%;
  max-width: 292px;

  @media(max-width: 1025px) {
    margin: 0 auto;
  }

  .infoCardCallActionText--infocard-presentes-saibamais {
    border-radius: 4px;
    background: var(--secondary);
    border: 1px solid var(--secondary);
    transition: .2s linear;
    color: var(--white);
    font-size: 13px;
    font-weight: 700;
    line-height: 19px;
    text-transform: initial;
    padding: 15px;
    text-decoration: none;
    width: 100%;
    text-align: center;

    &:hover {
      background: transparent;
      color: var(--secondary);
    }
  }
}

.infoCardImage--infocard-presentes-saibamais {
  width: 100%;
  max-width: 280px;
  display: block;
  margin: 0 auto;

  @media(min-width: 1026px) {
    margin: 0 0 0 auto;
  }
}

.infoCardTextContainer--infocard-presentes-saibamais {
  padding: 0;
}
// presentes

// cartao presente
.imageElement--cartao-main-left {
  @media(min-width: 1026px) {
    position: absolute;
    bottom: 0;
    right: -95px;
  }
}

.imageElement--cartao-corporativas-image {
  @media(max-width: 1025px) {
    background: #F7F5F0;
    border-radius: 50%;
    width: 286px;
    height: 286px;
    transform: translateY(-50%);
    margin-bottom: -150px;
  }
}
