// Banners Pequenos
.flexRow--department-slider-small {
  margin-bottom: 35px;

  @media(max-width: 1025px) {
    padding-left: 3px;
  }
}

// Marcas
.flexRowContent--department-slider-brands {
  margin-bottom: 35px;
}

// Banners duplo
.flexRow--department-slider-double {
  margin-bottom: 35px;
}

// Categorias
.flexCol--department-slider-categories {
  margin-bottom: 50px;
}

// Vitrine
.flexRowContent--department-slider-shelf {
  flex-direction: column;

  @media(min-width: 1026px) {
    margin-bottom: 35px;
  }

  @media(max-width: 1025px) {
    margin-bottom:  65px;
    padding: 0 14px;
  }
}

// Banner promo
.flexRowContent--department-slider-promo {
  @media(min-width: 1026px) {
    margin-bottom: 40px;
  }
}
