.menuContainer--menu-department-item {
  gap: 75px;

  @media(min-width: 1026px) {
    justify-content: center;
  }

  @media(max-width: 1025px) {
    overflow: auto;
    padding-left: 35px;
    padding-right: 35px;
  }

  .menuItem--menu-department,
  .menuItem--menu-department-item {
    position: relative;

    &::after {
      content: "";
      height: 3px;
      width: 100%;
      display: block;
      background: transparent;
      border-radius: 5px;
      transition: .2s linear;
    }

    &:hover {
      &::after {
        background: var(--secondary);
      }
    }
  }

  .styledLinkContainer--menu-department, .styledLinkContainer--menu-department-item {
    padding: 20px 0;
    margin: 0;
  }

  .styledLinkContent--menu-department, .styledLinkContent--menu-department-item {
    font-size: 12px;
    line-height: normal;
    color: var(--primary);
    text-transform: uppercase;
    font-weight: 700;
    display: block;
  }

  .menuItem--menu-department--isOpen {
    .styledLinkContent--menu-department {
      color: var(--secondary)!important;
    }
  }
}

.submenuContainer--submenu-department {
  position: absolute;
  left: 0;
  top: 58px;
  min-width: 185px;

  .submenuWrapper--submenu-department {
    background: var(--white);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.16);
    border: none;
    padding: 0;

    .submenu--submenu-department {
      display: block;

      .styledLinkContainer--submenu-department {
        margin: 0;
        padding: 0 20px;

        .styledLinkContent--submenu-department {
          border-bottom: 1px solid rgba(136,118,94,.1);
          color: var(--primary);
          font-size: 12px;
          font-weight: 400;
          line-height: normal;
          padding: 10px 0;
          transition: .2s linear;

          &:hover {
            color: var(--secondary);
          }
        }
      }
    }

    .menuItem--submenu-department {
      &:last-child {
        .styledLinkContent--submenu-department {
          border-bottom: none;
          padding: 10px 0 20px;
        }
      }

      &:first-child {
        .styledLinkContent--submenu-department {
          padding: 20px 0 10px;
        }
      }
    }
  }
}
