// Banner Principal
.sliderTrack--department-slider-main {
  margin-bottom: 35px;
}

// Banners Pequenos
.sliderTrack--department-slider-small {
  @media(min-width: 1026px) {
    gap: 22px;
  }
}

// Marcas
.sliderTrackContainer--department-slider-brands {
  width: 95%;
  margin: 0 auto;
}

.slide--department-slider-brands {
  @media(min-width: 1026px) {
    padding: 0 20px;
  }

  @media(max-width: 1025px) {
    padding: 0 15px;
  }
}

.sliderLeftArrow--department-slider-brands {
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='32' viewBox='0 0 18 32' fill='none'%3E%3Cpath d='M17 1L2 16L17 31' stroke='%2388765E' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15px;
    height: 30px;
    display: block;
  }

  .caretIcon--department-slider-brands {
    display: none;
  }
}

.sliderRightArrow--department-slider-brands {
  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='32' viewBox='0 0 18 32' fill='none'%3E%3Cpath d='M1 31L16 16L1 0.999999' stroke='%2388765E' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 15px;
    height: 30px;
    display: block;
  }

  .caretIcon--department-slider-brands {
    display: none;
  }
}

// Banners duplo
.sliderTrack--department-slider-double {
  @media(min-width: 1026px) {
    gap: 22px;
  }

  .imageElement--department-slider-double {
    @media(min-width: 1026px) {
      border-radius: 8px;
    }
  }
}

.paginationDotsContainer--department-slider-double {
  border-radius: 8px 8px 0 0;
  background: #FFF;
  width: fit-content;
  margin: 0 auto;
  padding: 5px 25px;

  .paginationDot--department-slider-double {
    width: 8px!important;
    height: 8px!important;
  }
}

// Categorias
.sliderTrack--department-slider-categories {
  @media(min-width: 1026px) {
    justify-content: center;
  }
}

.slide--department-slider-categories {
  @media(max-width: 1025px) {
    padding: 0 5px;
  }

  @media(min-width: 1026px) {
    padding: 0 20px;
    width: auto !important;
  }
}

.paginationDotsContainer--department-shelf-slider {
  bottom: -30px;

  .paginationDot--department-shelf-slider {
    width: 8px!important;
    height: 8px!important;
  }
}
