.container--department-tab {


  .listContainer {
    gap: 15px;
    margin-bottom: 30px;

    @media(max-width: 1025px) {
      flex-wrap: nowrap;
      overflow-x: auto;
      padding-right: 14px;
      justify-content: flex-start;
      padding-left: 14px;
    }

    .listItem {
      padding: 0;
      margin: 0;
      width: 145px;

      :global(.vtex-button) {
        border: 1px solid var(--neutral);
        border-radius: 6px;
        transition: .2s linear;
        min-height: 38px;
        width: 145px;

        &:hover {
          background: var(--secondary)!important;
          border: 1px solid var(--secondary)!important;

          :global(.vtex-button__label) {
            color: var(--white);
          }
        }
      }

      :global(.vtex-button__label) {
        font-size: 12px;
        line-height: normal;
        color: var(--primary);
        font-weight: 700;
        padding: 0!important;
      }
    }

    .listItemActive {
      :global(.vtex-button) {
        background: var(--secondary)!important;
        border: 1px solid var(--secondary)!important;
      }

      :global(.vtex-button__label) {
        color: var(--white);
      }
    }
  }
}
