.flexRow--menu-container__desktop {
  background: var(--white);

  .flexRowContent--menu-container__desktop {
    justify-content: flex-start;
    align-items: center;
    gap: 60px;
    position: relative;

    .stretchChildrenWidth:last-child {
      width: 100%!important;
    }
  }
}
