:global(.vtex-list-context-0-x-list--wishlist) {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  :global(.vtex-list-context-0-x-item--wishlist) {
    @media(min-width: 721px) {
      width: calc(33% - 9px);
    }

    @media(max-width: 720px) {
      width: calc(50% - 8px);
    }
  }
}
