// menu lateral
.menu {
  background: rgba(125, 110, 91, 0.1);
  border-radius: 16px;
  padding: 0;

  @media(min-width: 1026px) {
    width: 245px;
    min-width: 245px;
  }

  @media(min-width: 721px) and (max-width: 1025px) {
    width: 30%;
  }

  .userInfo {
    padding: 30px 20px;
    margin: 0;
    gap: 20px;
    align-items: center;

    .userImage {
      width: 58px;
      margin: 0;

      :global(svg.h-100.w-auto) {
        width: 100%;
      }
    }

    .userGreeting {
      font-size: 12px;
      line-height: normal;
      color: #7D6E5B;
      font-weight: 400;
    }

    .userName {
      font-size: 14px;
      line-height: normal;
      color: #7D6E5B;
      font-weight: 400;
    }
  }

  :global(.vtex-account_menu-link) {
    font-size: 14px;
    color: #7D6E5B;
    font-weight: 400;
    border-bottom: 1px solid #E5E2DE;
    border-left: none;
    margin: 0;
    padding: 15px 25px;

    &:global(.b--action-primary) {
      background: #FFF;
      font-weight: 700;
      padding: 5px 0;
      display: flex;
      align-items: center;
      gap: 20px;

      &:before {
        content: "";
        height: 37px;
        width: 4px;
        background: #EC7646;
        display: block;
        border-radius: 1px 5px 5px 0px;
      }
    }
  }

  .menuLink {
    font-size: 14px;
    color: #7D6E5B;
    font-weight: 400;
    margin: 0;
    padding: 15px 20px;
  }
}
