// título geral
:global(.vtex-pageHeader__container) {
  padding: 0 0 20px 0;

  :global(.c-on-base.flex.flex-wrap.flex-row.justify-between.mt7) {
    margin: 0;
  }

  :global(.vtex-pageHeader__title) {
    font-size: 16px;
    line-height: normal;
    text-transform: uppercase;
    color: #7D6E5B;
    font-family: Montserrat;
  }

  :global(.c-on-base.flex.flex-wrap.flex-row.justify-between.mt0) {
    align-items: center;
  }
}

// voltar
:global(.vtex-pageHeader-link__container) {
  margin-bottom: 20px;

  :global(.vtex-button) {
    background: transparent!important;
  }

  :global(.vtex__icon-arrow-back) {
    background: #EC7646;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    padding: 8px;
    color: #FFF;
  }

  :global(.ml3.ttu.t-action--small) {
    color: #EC7646;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
}
