:global(.vtex_my-authentication_box_container) {
  border-radius: 16px;
  border: 1px solid rgba(125, 110, 91, 0.20);
  background: #FFF;
  padding: 25px 35px;

  :global(.vtex_my-authentication_box_content) {
    padding: 0;
  }

  :global(.vtex_my-authentication_maskedPassword_title),
  :global(.vtex_my-authentication_loginSessionsBox_title),
  :global(.vtex-input__label),
  :global(.vtex_my-authentication_passValidation_title),
  :global(.vtex_my-authentication_loginSession_currSessionText),
  :global(.vtex_my-authentication_loginSession_device) {
    color: #7D6E5B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600!important;
    line-height: normal;
    padding-bottom: 10px;
    margin: 0;
  }

  :global(.vtex_my-authentication_maskedPassword_content),
  :global(.vtex_my-authentication_loginSessionsBox_content),
  :global(.vtex_my-authentication_createPassword_text),
  :global(.vtex_my-authentication_passValidation_content),
  :global(.vtex_my-authentication_box_content .t-small) {
    color: #7D6E5B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  :global(.vtex-input-prefix__group) {
    border: 1px solid rgba(125,110,91,.2);
    border-radius: 4px;
    height: 40px;
    transition: .2s linear;
    font-family: Montserrat;
    font-size: 12px;
    color: #7d6e5b;
  }

  :global(.vtex_my-authentication_box_footer) {
    padding: 20px 0 0 0;

    :global(.vtex-button) {
      border-radius: 4px;
      border: 1px solid #EC7646;
      background: #FFF!important;
      transition: .2s linear;
      color: #EC7646!important;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 13px;
      width: 100%;
      max-width: 175px;

      &:hover {
        background: #EC7646!important;
        color: #FFF!important;
      }

      :global(.vtex-button__label) {
        padding: 0!important;
      }
    }
  }

  :global(.vtex_my-authentication_resendCodeButton_container) {
    :global(.vtex-button) {
      border-radius: 4px;
      border: 1px solid #EC7646;
      background: #FFF!important;
      transition: .2s linear;
      color: #EC7646!important;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      padding: 13px;

      &:hover {
        background: #EC7646!important;
        color: #FFF!important;
      }

      :global(.vtex-button__label) {
        padding: 0!important;
      }
    }
  }

  :global(.vtex_my-authentication_box_header) {
    padding: 0 0 10px 0;

    :global(.vtex_my-authentication_loginSession_currSessionIcon svg path) {
      fill: #7D6E5B;
    }
  }

  :global(.vtex_my-authentication_loginSession_currSessionText) {
    padding: 0 0 0 10px;
  }

  :global(.vtex_my-authentication_loginSession_device) {
    padding-top: 10px;
  }

  :global(.vtex_my-authentication_passValidation_content) {
    @media(max-width: 720px) {
      flex-direction: column;
      gap: 16px;
    }
  }
}
