:global(.vtex-my-orders-app-3-x-orderCard) {
  margin: 0 0 10px 0;
  border-radius: 16px;
  border: 1px solid rgba(125, 110, 91, 0.20);
  background: #FFF;
}

:global(.vtex-my-orders-app-3-x-orderHeader) {
  background: #F3F1ED;
  border: none;

  @media(min-width: 721px) {
    padding: 30px 40px;
  }

  @media(max-width: 720px) {
    padding: 20px;
  }

  :global(.vtex-my-orders-app-3-x-orderHeaderLabel) {
    color: #7D6E5B;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-bottom: 10px;
  }

  :global(.vtex-my-orders-app-3-x-orderHeaderValue),
  :global(.vtex-my-orders-app-3-x-orderHeaderValue),
  :global(.vtex-my-orders-app-3-x-orderId) {
    color: #7D6E5B;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }
}

:global(.vtex-my-orders-app-3-x-orderBody) {
  @media(min-width: 721px) {
    padding: 30px 40px;
  }

  @media(max-width: 720px) {
    padding: 20px;
  }

  :global(.vtex-my-orders-app-3-x-orderProductName), :global(.vtex-my-orders-app-3-x-orderProductQuantityValue) {
    color: #7D6E5B;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 23px;
  }

  :global(.vtex-my-orders-app-3-x-orderProductShipping) {
    color: #7D6E5B;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  :global(.vtex-my-orders-app-3-x-orderProduct) {
    :global(.dib.w-80.pl3.c-on-base.f6.fw4.lh-copy) {
      @media(max-width: 720px) {
        padding-left: 30px;
      }
    }
  }

  :global(.cf.fr.db.w-100.w-30-ns.pt0-xl.pt5) {
    @media(min-width: 721px) {
      max-width: 180px;
    }
  }

  :global(.vtex-my-orders-app-3-x-detailsBtn) {
    border-radius: 4px;
    border: 1px solid #EC7646;
    width: 100%;
    transition: .2s linear;
    background: transparent;
    padding: 11px;

    &:hover {
      background: #EC7646;

      :global(.db.pv2) {
        color: #FFF;
      }
    }

    :global(.db.pv2) {
      color: #EC7646;
      font-family: Montserrat;
      font-size: 12px;
      font-weight: 600;
      line-height: normal;
      padding: 0!important;
    }
  }
}

:global(.vtex-my-orders-app-3-x-font) {
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  margin-left: 14px;
}

:global(.vtex-my-orders-app-3-x-reorderBtn) {
  :global(svg) {
    display: none;
  }

  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M23 4V10H17' stroke='%23EC7646' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M1 20V14H7' stroke='%23EC7646' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.51 9.00008C4.01717 7.56686 4.87913 6.28548 6.01547 5.27549C7.1518 4.26551 8.52547 3.55984 10.0083 3.22433C11.4911 2.88883 13.0348 2.93442 14.4952 3.35685C15.9556 3.77928 17.2853 4.56479 18.36 5.64008L23 10.0001M1 14.0001L5.64 18.3601C6.71475 19.4354 8.04437 20.2209 9.50481 20.6433C10.9652 21.0657 12.5089 21.1113 13.9917 20.7758C15.4745 20.4403 16.8482 19.7346 17.9845 18.7247C19.1209 17.7147 19.9828 16.4333 20.49 15.0001' stroke='%23EC7646' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 24px;
    height: 24px;
  }

  :global(.vtex-my-orders-app-3-x-font) {
    color: #EC7646;
  }
}

:global(.vtex-my-orders-app-3-x-cancelBtn) {
  width: 100%;

  :global(svg) {
    width: 24px;
    height: 24px;
  }
}

// cancelado
:global(.vtex-my-orders-app-3-x-cancelOrder) {
  :global(p.db.f3.c-on-base.mb3) {
    color: #7D6E5B;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 30px 0;
  }

  :global(p.f4.c-on-base.lh-copy.mt7) {
    color: #7D6E5B;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 30px 0;
  }

  :global(.vtex-my-orders-app-3-x-optionHeading) {
    color: #7D6E5B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
  }

  :global(.vtex-my-orders-app-3-x-option) {
    display: flex;
    align-items: center;

    :global(label.w-100.dtc.f5.fw4.pl5.lh-copy.c-on-base) {
      color: #7D6E5B;
      font-family: Montserrat;
      font-size: 14px!important;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    :global(.vtex-my-orders-app-3-x-optionInput) {
      border-radius: 4px;
      border: 1px solid rgba(125, 110, 91, 0.50);
      background: rgba(125, 110, 91, 0.20);
      cursor: pointer;

      &:global(.option[type='radio']:checked) {
        background: #EC7646;
        border: 1px solid #EC7646;
      }

      &:after {
        display: none;
      }
    }
  }
}

:global(.vtex-my-orders-app-3-x-optionDisclaimer) {
  background: rgba(125,110,91,.1);
  border-radius: 16px;

  :global(li.pb3) {
    color: #7D6E5B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

:global(button.c-on-success) {
  border-radius: 4px;
  border: 1px solid #EC7646;
  width: 100%;
  transition: .2s linear;
  background: #EC7646;
  padding: 12px;
  font-size: 12px;
  line-height: normal;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

:global(.c-on-warning--faded) {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

:global(.vtex-my-orders-app-3-x-summary) {
  border: 1px solid rgba(125,110,91,.1);
  border-radius: 16px;

  :global(.vtex-my-orders-app-3-x-summaryHeader) {
    background: rgba(125,110,91,.1);

    :global(.dib.mt2.fl.max-w-30.f6.fw5.c-on-muted-5) {
      color: #7D6E5B;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  :global(.vtex-my-orders-app-3-x-summaryProductName) {
    color: #7D6E5B;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  :global(.vtex-my-orders-app-3-x-summaryProductQuantityValue) {
    color: #7D6E5B;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 10px;
  }

  :global(.c-on-base) {
    color: #7D6E5B;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:global(.ttu) {
      font-weight: 700;
    }
  }
}

:global(.vtex-account__page-body) {
  :global(.fl.w-40-ns.pv3.pl0) {
    padding: 0;

    :global(.c-on-base) {
      color: #7D6E5B;
      font-size: 12px;
      font-weight: 400;
      line-height: normal;
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }

  :global(.w-100.fl.w-60-ns.pv3-ns.pr0) {
    padding: 0;

    :global(.dib) {
      color: #EC7646;
      font-family: Montserrat;
      font-size: 11px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }

    :global(.hh1) {
      fill: #EC7646;
    }

    :global(img.hh1) {
      filter: invert(1);
    }

    :global(.c-link) {
      color: #EC7646;
    }
  }

  :global(section.pa5.ba.bw1.b--muted-5.h4-plus.overflow-y-scroll.bg-base) {
    border-radius: 16px;
    border: 1px solid rgba(125, 110, 91, 0.20);
    background: #FFF;
    overflow-y: auto;
    padding: 25px 30px;

    :global(h3.c-on-base.mt2.mb5.tracked-mega.lh-solid.ttu.f6) {
      color: #7D6E5B;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      letter-spacing: 0;
      margin: 0 0 15px 0;
    }

    :global(.lh-copy.f6 strong) {
      color: #7D6E5B;
      font-size: 12px;
      line-height: normal;
      font-weight: 700;
    }

    :global(.mb5), :global(.dib) {
      color: #7D6E5B;
      font-size: 12px;
      line-height: 20px;
    }
  }

  :global(.myo-progress-bar.w-100) {
    border-radius: 16px;
    border: 1px solid rgba(125, 110, 91, 0.20);
    background: #FFF;
    padding: 35px 30px;

    :global(.myo-progress-bar__title-font) {
      color: #7D6E5B;
      font-family: Montserrat;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      letter-spacing: 0;
      margin: 0;
      padding: 0 0 40px 0;
    }

    :global(.myo-progress-bar__mobile-text .c-link) {
      color: #7D6E5B;
      text-align: center;
      font-size: 12px;
      font-weight: 700;
      line-height: normal;
    }

    :global(.pt7) {
      padding: 0;

      :global(.bg-success) {
        background: #EC7646;
      }

      :global(.myo-progress-bar__line) {
        &:global(.b--success) {
          border-color: #EC7646;
        }
      }

      :global(.myo-progress-bar__ma-inner-circle::before) {
        color: #EC7646;
      }

      :global(.myo-progress-bar__text) {
        color: #7D6E5B;
        text-align: center;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
      }

      :global(span.c-muted-3.myo-progress-bar__text) {
        opacity: 0.5;
      }
    }
  }

  :global(h2.f4.mb0.lh-copy) {
    color: #7D6E5B;
    font-size: 16px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
  }

  :global(span.mr3) {
    color: #7D6E5B;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }

  :global(span.dib.br2.pv2.mt2.ph3.f7.f6-xl.fw5.nowrap.bg-muted-1.c-on-muted-1) {
    border-radius: 4px;
    background: #F3F1ED;
    color: #7D6E5B;
    text-align: right;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
    margin-left: 15px;
  }

  :global(tr.tl) {
    color: #7D6E5B;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  :global(.vtex-my-orders-app-3-x-productName) {
    color: #7D6E5B;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }

  :global(.vtex-my-orders-app-3-x-sellerName),
  :global(.vtex-my-orders-app-3-x-productPrice),
  :global(.vtex-my-orders-app-3-x-productQuantity),
  :global(.vtex-my-orders-app-3-x-productTotalPrice) {
    color: #7D6E5B;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }
}

:global(p.db.f3.c-on-base.mb3) {
  color: #7D6E5B;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 30px 0;
}

:global(p.f4.c-on-base.lh-copy.mt7) {
  color: #7D6E5B;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 30px 0;
}

:global(.vtex-my-orders-app-3-x-optionHeading) {
  color: #7D6E5B;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
  letter-spacing: 0;
}

:global(.vtex-my-orders-app-3-x-option) {
  display: flex;
  align-items: center;

  :global(label.w-100.dtc.f5.fw4.pl5.lh-copy.c-on-base) {
    color: #7D6E5B;
    font-family: Montserrat;
    font-size: 14px!important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  :global(.vtex-my-orders-app-3-x-optionInput) {
    border-radius: 4px;
    border: 1px solid rgba(125, 110, 91, 0.50);
    background: rgba(125, 110, 91, 0.20);
    cursor: pointer;

    &:global(.option[type='radio']:checked) {
      background: #EC7646;
      border: 1px solid #EC7646;
    }

    &:after {
      display: none;
    }
  }
}

:global(.dib.br2.pv2.ph3.f7.fw5.tc.bg-muted-1) {
  border-radius: 4px;
  background: #8BC34A;
}
