:global(.vtex-account__create-card .w-100) {
  :global(.t-heading-5) {
    color: #7D6E5B;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;
  }
}
