.flexRow--slider-shelf {
  padding-bottom: 65px;

  @media(min-width: 1024px) {
    padding-bottom: 70px;
    background: none;
  }
}

.flexRowContent--slider-shelf {
  display: flex;
  flex-direction: column;
}

.flexRowContent--selling-and-flag {
  justify-content: space-between;
  align-items: center;
}

.flexRow--slider-shelf-2 {
  padding-bottom: 55px;

  @media(min-width: 1024px) {
    padding-bottom: 45px;
  }
}