.vtex-product-summary-2-x-container--shelf-item-slider {
  padding: 0 16px;
}

.element--shelf-default {
  padding: 0;
}

.nameContainer--product-name {
  padding: 16px 0 6px;
  justify-content: start;
}

.spacer {
  height: 29px;
  max-height: 29px;

  @media(min-width: 1024px) {
    min-height: 29px;
    max-height: 29px;
  }
}

.productBrand--product-name {
  color: var(--primary);
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  height: 45px;
}

.imageContainer--product-image {
  width: 100%;
  min-height: 140px;

  @media(min-width: 1024px) {
    min-height: 200px;
  }
}
