.slide--shelf-slider {
  padding: 0 8px;
}

.sliderLayoutContainer--shelf-slider {
  padding: 0 !important;
}

.sliderArrows--shelf-slider {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0 !important;
  background: var(--white);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.08);
  border-radius: 50%;

  :global(.vtex-slider-layout-0-x-caretIcon) {
    width: 16px;
    height: 16px;
  }
}

.sliderRightArrow--shelf-slider {
  right: -13px;
}

.sliderLeftArrow--shelf-slider {
  left: -13px;
}
