.listPriceValue--pdp-price {
  color: var(--primary);

  .currencyContainer--pdp-price {
    font-size: 14px;
    line-height: normal;
    color: var(--primary);
    font-weight: 400;
  }
}

.sellingPriceValue--pdp-price {
  .currencyContainer--pdp-price {
    font-size: 24px;
    line-height: normal;
    color: var(--secondary);
    font-weight: 700;
    padding-top: 15px;
    display: block;

    @media(min-width: 1026px) {
      padding-bottom: 44px;
    }

    @media(max-width: 1025px) {
      padding-bottom: 20px;
    }
  }
}

.savings--pdp-price-savings {
  background: var(--secondary);
  border-radius: 4px;
  padding: 7px 10px;
  font-size: 13px;
  color: var(--white);
  font-weight: 700;
  margin-left: 15px;
}
