.list--product-custom-description {
  list-style: none;
  margin: 0 0 36px;
  padding: 0;
  position: relative;

  @media(min-width: 1024px) {
    margin: 0;
  }

  @media(min-width: 1024px) {
    &::before {
      background-image: url("assets/images/product-description.png");
      background-size: cover;
      content: "";
      display: block;
      height: 375px;
      left: -50px;
      position: absolute;
      top: -50px;
      width: 375px;
    }
  }
}

.item--product-custom-description {
  left: -14px;
  position: relative;
  z-index: 1;
  width: 100vw;

  @media(min-width: 1024px) {
    left: 0;
    width: auto;
  }
}
