.quantitySelectorContainer--product-qtd {
  margin: 0;

  :global(.vtex-numeric-stepper-container) {
    border-radius: 80px;
    border: 1px solid #7b6f5d33;
    height: 48px;
    padding: 5px 6px;
    width: 154px;
    justify-content: space-between;

    :global(.vtex-numeric-stepper__minus-button), :global(.vtex-numeric-stepper__plus-button) {
      border: 0;
      background: #7b6f5d33;
      border-radius: 50%!important;
      height: 37px;
      width: 37px!important;
    }

    :global(.vtex-numeric-stepper__plus-button__text), :global(.vtex-numeric-stepper__minus-button__text) {
      font-size: 21px;
      color: var(--primary);
      font-weight: 700;
    }

    :global(.vtex-numeric-stepper__input) {
      border: none;
      height: 37px;
      font-size: 16px;
      color: var(--primary);
      font-weight: 700;
    }
  }
}
