:global(.vtex-availability-notify-1-x-notiferContainer) {
  max-width: 355px;
}

:global(.vtex-availability-notify-1-x-title) {
  font-size: 18px;
  line-height: normal;
  color: var(--primary);
  font-weight: 700;
}

:global(.vtex-availability-notify-1-x-notifyLabel) {
  font-size: 16px;
  line-height: normal;
  color: var(--primary);
  font-weight: 400;
}

:global(.vtex-availability-notify-1-x-content) {
  flex-direction: column;

  :global(.vtex-input-prefix__group) {
    border: 1px solid #7b6f5d33;
    height: 45px;
  }

  :global(.vtex-styleguide-9-x-input) {
    color: var(--primary);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }

  :global(.vtex-button) {
    background: var(--secondary-variant);
    border: 1px solid var(--secondary-variant);
    min-height: auto;
    width: 100%;
    border-radius: 4px;
    transition: .2s linear;
    cursor: pointer;

    &:hover {
      background: var(--secondary);
      border: 1px solid var(--secondary);
    }
  }

  :global(.vtex-button__label) {
    display: block;
    padding: 16px!important;
    font-size: 12px;
    font-weight: 700;
    color: var(--white);
  }
}
