// brands
.flexRow--search-slider-brands {
  @media(max-width: 1025px) {
    margin-bottom: 30px;
  }

  @media(min-width: 1026px) {
    margin-bottom: 40px;
  }
}

// search-result
.flexRow--search-result {
  margin-bottom: 32px;
}

.flexRowContent--search-result {
  gap: 40px;
  align-items: flex-start;
}

// Pagination
.flexRow--search-result-pagination {
  display: flex;
  justify-content: center ;
  padding-bottom: 48px;

  @media(min-width: 1026px) {
    padding-bottom: 0;
  }
}

// filter
.flexCol--search-filter {
  background: #FBF9F4;
  border-radius: 16px;
  padding: 30px 20px 10px 20px;
}

// seo
.flexRowContent--search-seo {
  :global(.vtex-search-result-3-x-galleryTitle--layout) {
    font-size: 16px;
    color: var(--primary);
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 15px 0;
  }

  @media(max-width: 1025px) {
    margin-bottom: 30px;
  }
}

.flexRowContent--search-info {
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

.flexRowContent--search-info-count {
  display: flex;
  align-items: center;

  @media(max-width: 1025px) {
    margin: 15px 0;
  }

  :global(.vtex-search-result-3-x-galleryTitle--layout) {
    font-size: 12px;
    color: var(--primary);
    font-weight: 700;
    margin: 0;

    &::after {
      content: "|";
      color: var(--primary);
      padding: 0 5px;
    }
  }
}

.flexRowContent--search-info-count {
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto!important;
  }
}

.flexRowContent--search-info-mobile {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

// busca
.flexRowContent--search-text {
  display: flex;
  align-items: center;
  gap: 8px;

  @media(max-width: 1025px) {
    margin-top: 20px;
  }

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto!important;
  }

  :global(.vtex-search-result-3-x-galleryTitle--layout) {
    margin: 0;
    font-size: 21px;
    color: var(--primary);
    font-weight: 700;
  }
}

// banner
.flexRow--search-slider-main {
  @media(max-width: 1025px) {
    margin-bottom: 30px;
  }

  @media(min-width: 1026px) {
    margin-bottom: 40px;
  }
}

// 404
.flexRow--search-banner {
  margin-bottom: 60px;
}

/* Categories */
.flexRow--search-slider-search {
  margin-bottom: 35px;

  @media(min-width: 1024px) {
    margin-bottom: 50px;
  }

  :global(.vtex-store-components-3-x-container) {
    padding: 0;

    @media(min-width: 1024px) {
      padding: inherit;
    }
  }
}

// slider category
.flexRow--search-slider-category {
  :global(.vtex-store-components-3-x-container) {
    padding-right: 0;
  }
}
