.paragraph--search-content-text {
  font-size: 12px;
  line-height: normal;
  color: var(--primary);
  font-weight: 400;
  margin: 0;
}

.paragraph--search-text {
  font-size: 21px;
  color: var(--primary);
  font-weight: 400;
  margin: 0;
}

// 404
.container--search-search-title {
  display: block;
}

.paragraph--search-search-title {
  line-height: normal;
  text-align: center;
  display: block;
  color: var(--terciary-variant);
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px 0;

  @media(min-width: 1026px) {
    font-size: 24px;
  }

  @media(max-width: 1025px) {
    font-size: 16px;
  }
}

// trabalhe conosco
.wrapper--menu-inst-curriculo {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1.5px solid rgba(136, 118, 94, 0.2);

  @media(min-width: 1026px) {
    padding: 20px 35px;
  }

  @media(max-width: 1025px) {
    padding: 20px 30px;
  }

  &::before {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4Z' stroke='%23DD052B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22 6L12 13L2 6' stroke='%23DD052B' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    margin-right: 25px;
  }
}

.paragraph--menu-inst-curriculo {
  color: var(--primary);
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  margin: 0;

  @media(max-width: 1025px) {
    display: flex;
    flex-direction: column;
  }

  .link--menu-inst-curriculo {
    color: var(--secondary);

    @media(min-width: 1026px) {
      margin-left: 6px;
    }
  }
}

.paragraph--menu-inst-vagas {
  margin: 0;

  .link--menu-inst-vagas {
    border-radius: 4px;
    border: 1.5px solid rgba(136, 118, 94, 0.2);
    color: var(--primary);
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;
    margin: 0;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    @media(min-width: 1026px) {
      padding: 20px 35px;
    }

    @media(max-width: 1025px) {
      padding: 20px 30px;
    }

    &::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M17 21V19C17 17.9391 16.5786 16.9217 15.8284 16.1716C15.0783 15.4214 14.0609 15 13 15H5C3.93913 15 2.92172 15.4214 2.17157 16.1716C1.42143 16.9217 1 17.9391 1 19V21' stroke='%2388765E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M9 11C11.2091 11 13 9.20914 13 7C13 4.79086 11.2091 3 9 3C6.79086 3 5 4.79086 5 7C5 9.20914 6.79086 11 9 11Z' stroke='%2388765E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M23 21V19C22.9993 18.1137 22.7044 17.2528 22.1614 16.5523C21.6184 15.8519 20.8581 15.3516 20 15.13' stroke='%2388765E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16 3.13C16.8604 3.35031 17.623 3.85071 18.1676 4.55232C18.7122 5.25392 19.0078 6.11683 19.0078 7.005C19.0078 7.89318 18.7122 8.75608 18.1676 9.45769C17.623 10.1593 16.8604 10.6597 16 10.88' stroke='%2388765E' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
      background-size: 100%;
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      margin-right: 25px;
    }
  }
}

// modal
.container--modal-18-title {
  display: block;

  .paragraph--modal-18-title {
    font-size: 18px;
    line-height: normal;
    color: var(--secondary);
    font-weight: 800;
    text-align: center;
    margin: 0 0 15px 0;

    @media(min-width: 1026px) {
      font-size: 21px;
    }
  }
}

.paragraph--modal-18-text {
  font-size: 14px;
  line-height: 23px;
  color: var(--primary);
  font-weight: 400;
  text-align: center;
  margin: 0 0 35px 0;
}
