.searchResultContainer {
  @media(max-width: 1025px) {
    padding: 0!important;
  }

  @media(min-width: 1026px) {
    // &::before {
      // content: "";
      // height: 190px;
      // width: 100%;
      // background: #e1d8d0;
      // position: absolute;
      // left: 0;
      // top: 181px;
    // }
  }
}

// filter
.filter__container--title {
  border: none!important;
}

.filterMessage {
  font-size: 0;
  margin: 0 0 20px 0;

  &::before {
    content: "Filtrar por";
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary);
  }
}

.filter__container {
  border-bottom: 1px solid rgba(136, 118, 94, 0.2);

  &:last-child {
    border-bottom: none;
  }

  .filter {
    padding: 20px 0;
  }

  .filterTitleSpan {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--primary);
  }

  .filterIcon {
    padding-right: 0;
  }

  .caretIcon {
    color: var(--primary);
    width: 10px;
  }

  .filterItem {
    :global(.vtex-checkbox__label) {
      font-size: 14px;
      color: #702706;
      font-weight: 400;
    }

    :global(.vtex-checkbox__line-container) {
      padding-bottom: 15px;
      display: flex;
      align-items: center;
    }

    :global(.vtex-checkbox__box) {
      border: 0.5px solid #A58362;
      border-radius: 4px;
      background: #FFF;
    }
  }
}

.filterTemplateOverflow {
  padding: 0;
  margin-bottom: 20px;
}

.filterTemplateOverflow::-webkit-scrollbar {
  width: 7px;
}

.filterTemplateOverflow::-webkit-scrollbar-track {
  background: transparent;
}

.filterTemplateOverflow::-webkit-scrollbar-thumb {
  background-color: #d5cec4;
  border-radius: 20px;
}

// content
.showingProducts {
  padding: 0;
  text-align: left;
  font-size: 12px;
  color: var(--primary);
  font-weight: 400;
}

// order
.orderByText {
  display: none;
}

.orderByDropdown {
  display: flex;
  align-items: center;
  gap: 35px;

  @media(min-width: 1026px) {
    &::before {
      content: "Ordenar Por";
      color: var(--primary);
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }

  .orderByButton {
    @media(min-width: 1026px) {
      border: 1px solid rgba(136,118,94,.2);
      border-radius: 4px;
      height: 42px;
      max-width: 300px;
      justify-content: space-between;
      padding: 0 20px;
    }

    @media(max-width: 1025px) {
      background: #FBF9F4;
      border-radius: 6px;
      justify-content: center;
      height: 50px;

      .filterPopupArrowIcon {
        display: none;
      }
    }

    .filterPopupTitle {
      color: var(--primary);

      @media(min-width: 1026px) {
        font-size: 12px;
        text-transform: initial;
        font-weight: 400;
      }

      @media(max-width: 1025px) {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    .filterPopupArrowIcon {
      padding-right: 0;

      .caretIcon {
        color: var(--primary);
      }
    }
  }
}

.filtersWrapperMobile--filter-modal-mobile {
  .filterPopupButton {
    background: #fbf9f4;
    border-radius: 6px;
    justify-content: center;
    height: 50px;
    width: 100%;
    border: none;

    .filterPopupArrowIcon--filter-modal-mobile {
      display: none;
    }

    .filterPopupTitle--filter-modal-mobile {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0;
      color: var(--primary);
    }
  }
}

.gallery--grid {
  margin: 0 0 30px;
  padding: 0;
}

// filter modal mobile
.sidebar {
  width: 75%;

  .closeIconButton {
    left: -20px;
    top: 35px;
    width: 44px;
    height: 44px;
    padding: 0;
    background: #F5865E;
    border-radius: 50%;

    .closeIcon {
      color: #FFF;
      padding-top: 5px;
    }
  }

  .filterAccordionBreadcrumbs {
    border: none;
    height: auto;
    padding: 120px 55px 20px 55px;
  }

  .filterBreadcrumbsContent--filter-modal-mobile {
    padding: 0;
  }

  .filterBreadcrumbsText--filter-modal-mobile {
    font-size: 0;

    &::before {
      content: "Filtre por";
      font-size: 12px;
      font-weight: 700;
      text-transform: uppercase;
      color: var(--primary);
    }
  }

  .accordionFilterContainer--filter-modal-mobile {
    padding-left: 55px;
    padding-right: 40px;
  }

  .accordionFilterItem--filter-modal-mobile {
    padding: 0;
    min-height: auto;
    border: none;
  }

  .accordionFilterItemIcon--filter-modal-mobile {
    display: none;
  }

  .accordionFilterItemTitle--filter-modal-mobile {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 700;
  }

  .accordionFilterContent--filter-modal-mobile {
    padding: 20px 0;
  }

  .accordionFilterItemOptions {
    margin: 0 45px 5px 7px;
    border-bottom: 1px solid #f5865e;
    padding: 0 0 10px 0;

    .filterAccordionItemBox {
      padding: 0 0 15px 0;
      min-height: auto;
      border: none;

      :global(.vtex-checkbox__inner-container) {
        border-radius: 4px;
        border: 0.5px solid #A58362;
      }

      :global(.vtex-checkbox__label) {
        font-size: 14px;
        color: #702706;
        font-weight: 400;
        padding-left: 5px;
      }
    }
  }

  .filterClearButtonWrapper--filter-modal-mobile {
    :global(.vtex-button) {
      border: 1px solid #F5865E;

      :global(.vtex-button__label) {
        font-size: 14px;
        color: #F5865E;
      }
    }
  }

  .filterApplyButtonWrapper--filter-modal-mobile {
    :global(.vtex-button) {
      background: #F5865E;
      border: none;

      :global(.vtex-button__label) {
        font-size: 14px;
        color: var(--white);
      }
    }
  }
}

.filter__container--selectedFilters {
  padding-bottom: 20px;

  .filterSelected {
    display: none;
  }

  .filterItem--selected {
    border: 1px solid #E87338;
    border-radius: 80px;
    max-width: fit-content;
    padding: 5px 10px;
    margin-bottom: 5px;

    :global(.vtex-checkbox__line-container) {
      padding: 0;
    }

    :global(.vtex-checkbox__container) {
      display: none;
    }

    :global(.vtex-checkbox__label) {
      font-size: 11px;
      color: var(--secondary);
    }
  }
}

.selectedFilterItem, .filterItem--selected {
  :global(.vtex-checkbox__box-wrapper) {
    background: #E56F2E;
    border-radius: 4px;
  }

  :global(.vtex-checkbox__box) {
    border: 0.5px solid #E56F2E!important;
    background: #E56F2E!important;

    &::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='10' viewBox='0 0 11 10' fill='none'%3E%3Cpath d='M1 5.45455L3.4 8L10 1' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 100%;
      width: 10px;
      height: 10px;
    }
  }

  :global(.vtex-checkbox__inner-container) {
    border-color: #E56F2E;
    border-radius: 4px;
  }

  :global(.vtex__icon-check) {
    display: none;
  }
}

:global(.vtex-search-result-3-x-accordionFilterItemTag) {
  display: none;
}
