.profileIcon--header-login-icon {
  height: 25px;
  width: 25px;

  @media(min-width: 1024px) {
    height: 32px;
    width: 32px;
  }
}

.label {
  font-size: 0;
  margin: 0;
  padding: 0;
  display: block;

  &:after {
    content: "";
    width: 22px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_9_173)'%3E%3Cpath d='M11.0007 2.02219C13.5326 2.02219 15.5911 4.05954 15.5911 6.56537C15.5911 9.0712 13.5326 11.1086 11.0007 11.1086C8.46888 11.1086 6.41037 9.0712 6.41037 6.56537C6.41037 4.05954 8.46888 2.02219 11.0007 2.02219ZM11.0007 0C7.33662 0 4.36719 2.93891 4.36719 6.56537C4.36719 10.1918 7.33662 13.1307 11.0007 13.1307C14.6648 13.1307 17.6343 10.1918 17.6343 6.56537C17.6343 2.93891 14.6631 0 11.0007 0Z' fill='%2388765E'/%3E%3Cpath d='M11.001 16.4353C12.908 16.4353 14.7605 16.9712 16.3559 17.984C17.9019 18.9648 19.1414 20.3449 19.9434 21.9778H2.05697C2.85892 20.3466 4.09845 18.9648 5.64446 17.984C7.24155 16.9712 9.09234 16.4353 10.9993 16.4353M10.9993 14.4131C6.24209 14.4131 2.13359 17.1583 0.199372 21.1336C-0.445934 22.4615 0.551822 24 2.03994 24H19.9587C21.4485 24 22.4463 22.4615 21.7992 21.1336C19.865 17.1566 15.7565 14.4131 10.9993 14.4131Z' fill='%2388765E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_9_173'%3E%3Crect width='22' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: 100%;
    display: block;

    @media(min-width: 1024px) {
      margin-left: 14px;
    }
  }
}

.profile {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 0;
  line-height: normal;
  color: var(--primary);
  text-transform: initial;

  @media(min-width: 1026px) {
    font-size: 12px;
  }

  &:before {
    content: "";
    width: 22px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_9_173)'%3E%3Cpath d='M11.0007 2.02219C13.5326 2.02219 15.5911 4.05954 15.5911 6.56537C15.5911 9.0712 13.5326 11.1086 11.0007 11.1086C8.46888 11.1086 6.41037 9.0712 6.41037 6.56537C6.41037 4.05954 8.46888 2.02219 11.0007 2.02219ZM11.0007 0C7.33662 0 4.36719 2.93891 4.36719 6.56537C4.36719 10.1918 7.33662 13.1307 11.0007 13.1307C14.6648 13.1307 17.6343 10.1918 17.6343 6.56537C17.6343 2.93891 14.6631 0 11.0007 0Z' fill='%2388765E'/%3E%3Cpath d='M11.001 16.4353C12.908 16.4353 14.7605 16.9712 16.3559 17.984C17.9019 18.9648 19.1414 20.3449 19.9434 21.9778H2.05697C2.85892 20.3466 4.09845 18.9648 5.64446 17.984C7.24155 16.9712 9.09234 16.4353 10.9993 16.4353M10.9993 14.4131C6.24209 14.4131 2.13359 17.1583 0.199372 21.1336C-0.445934 22.4615 0.551822 24 2.03994 24H19.9587C21.4485 24 22.4463 22.4615 21.7992 21.1336C19.865 17.1566 15.7565 14.4131 10.9993 14.4131Z' fill='%2388765E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_9_173'%3E%3Crect width='22' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    background-size: 100%;
    display: block;

    @media(min-width: 1024px) {
      margin-right: 6px;
    }
  }
}

/* MODAL */
.box .content:not(.content--accountOptions) .contentForm::before {
  background-color: var(--white);
  background-position: center 29%;
  background-repeat: no-repeat;
  background-size: 29%;
  content: "Bem-Vindo";
  display: block;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  z-index: 1;
  padding-top: 0;
}

.accountOptions {
  display: flex;
  flex-direction: row-reverse;
}

.accountOptions .button {
  color: var(--secondary);
  padding: 0;
  transition: .4s;
}

.accountOptions .button:hover {
  text-decoration: underline;
}

.accountOptions :global(.vtex-button) {
  background: var(--white);
  border: 1px solid var(--gray-700);
  border-radius: 4px;
  color: var(--black);
  font-size: 12px;
  font-weight: bold;
  transition: .4s;
}

.accountOptions :global(.vtex-button):hover {
  background: var(--secondary);
  border-color: var(--secondary);
  color: var(--white);
}

.arrowUp {
  right: 20px;
  width: 20px;
}

/* MODAL End */

/* TITLE */
.formTitle {
  font-size: 12px;
}
/* TITLE End*/

/* BUTTONS */
.button :global(.vtex-button) {
  background: var(--white);
  border: 1px solid var(--gray-700);
  border-radius: 4px;
  color: var(--black);
  font-size: 12px;
  font-weight: bold;
  transition: .4s;
}

.button .oauthLabel {
  font-size: 12px!important;
  font-weight: bold;
}

.button :global(.vtex-button):hover {
  background: var(--secondary);
  border-color: var(--secondary);
  color: var(--white);
}
/* BUTTONS End */

/* FORM */
.formSubtitle {
  font-size: 14px;
}

.backButton :global(.vtex-button) {
  background: var(--white);
  border: 1px solid var(--gray-700);
  border-radius: 4px;
  color: var(--black);
  transition: .4s;
}

.backButton :global(.vtex-button):focus,
.backButton :global(.vtex-button):hover {
  background: var(--primary);
  border-color: var(--primary);
  color: var(--white);
}

.inputContainer :global(.vtex-input-prefix__group) {
  border-color: var(--gray-400);
  border-width: 1px;
  transition: border-color .4s;
}

.inputContainer :global(.vtex-input-prefix__group):focus,
.inputContainer :global(.vtex-input-prefix__group):hover {
  border-color: var(--primary);
}

.inputContainer :global(.vtex-input) :global(.vtex-styleguide-9-x-input) {
  font-family: inherit;
  font-size: 14px;
}

.forgotPasswordLink,
.dontHaveAccount {
  font-size: 14px;
  transition: .4s;
}

.forgotPasswordLink:hover,
.dontHaveAccount:hover {
  opacity: 1;
  text-decoration: underline;
}
/* FORM End*/
