.container--pascoa-header-title,
.container--pascoa-header-subtitle,
.container--pascoa-card-title,
.container--pascoa-card-text,
.container--pascoa-vertudo-title {
  display: block;
}

.paragraph--pascoa-header-title {
  font-size: 30px;
  line-height: normal;
  color: #FBAB18;
  font-weight: 700;
  text-align: center;
  margin: 0 0 15px 0;

  @media(min-width: 1026px) {
    font-size: 42px;
  }
}

.paragraph--pascoa-header-subtitle {
  font-size: 14px;
  line-height: 20px;
  color: #B58E52;
  font-weight: 400;
  text-align: center;
  max-width: 640px;
  margin: 0 auto;

  @media(min-width: 1026px) {
    font-size: 16px;
    margin: 0 auto 45px auto;
  }
}

.paragraph--pascoa-card-title {
  font-size: 30px;
  line-height: normal;
  color: #FBAB18;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 25px 0 15px 0;
  padding: 0 16px;
}

.paragraph--pascoa-card-text {
  font-size: 13px;
  line-height: 20px;
  color: #B58E52;
  font-weight: 400;
  text-align: center;
  margin: 20px 0;
  padding: 0 16px;

  @media(min-width: 1026px) {
    font-size: 16px;
    margin: 0 0 15px 0;
  }
}

:global(.vtex-store-link-0-x-link--pascoa-card-link) {
  border: 1px solid #FBAB18;
  border-radius: 80px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: normal;
  color: #FBAB18;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 35px;
  width: 100%;
  max-width: 205px;
  margin: 0 auto;
  transition: .2s linear;

  @media(min-width: 1026px) {
    font-size: 18px;
    max-width: 250px;

    &:hover {
      background: #FBAB18;
      color: #FFF;

      &::after {
        filter: brightness(0%) invert(1);
      }
    }
  }

  &::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 9H20.5' stroke='%23FBAB18' stroke-width='2'/%3E%3Cpath d='M14 1L22 9L14 17' stroke='%23FBAB18' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 22px;
    height: 16px;
  }
}

.paragraph--pascoa-vertudo-title {
  font-size: 24px;
  line-height: normal;
  color: #FFF;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 35px auto;

  @media(min-width: 1026px) {
    font-size: 42px;
    max-width: 725px;
    color: #FBAB18;
    font-weight: 400;
  }
}

:global(.vtex-store-link-0-x-link--pascoa-vertudo-link) {
  border: 1px solid #FFF;
  border-radius: 80px;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  line-height: normal;
  color: #FFF;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 35px;
  width: 100%;
  margin: 0 auto;
  transition: .2s linear;

  @media(min-width: 1026px) {
    font-size: 18px;
    max-width: 235px;
    color: #FBAB18;
    border: 1px solid #FBAB18;

    &:hover {
      background: #FBAB18;
      color: #FFF;

      &::after {
        filter: brightness(0%) invert(1);
      }
    }
  }

  &::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='18' viewBox='0 0 24 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 9H20.5' stroke='%23FBAB18' stroke-width='2'/%3E%3Cpath d='M14 1L22 9L14 17' stroke='%23FBAB18' stroke-width='2'/%3E%3C/svg%3E%0A");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 22px;
    height: 16px;

    @media(max-width: 1025px) {
      filter: brightness(0%) invert(1);
    }
  }
}
