.wrapper--title-default {
  width: 100%;
}

.paragraph--title-default {
  text-align: center;
  color: var(--gold);
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
  margin: 0 0 23px;

  @media(min-width: 1024px) {
    margin: 0 0 17px;
    line-height: normal;
  }
}

.paragraph--home-brands-title {
  margin-bottom: 6px;
}

.wrapper--home-brands-subtitle {
  width: 100%;
}

.paragraph--home-brands-subtitle {
  margin: 0;
  color: var(--primary);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.wrapper--home-tips-title {
  width: 100%;
  margin-top: 18px;

  @media(min-width: 1024px) {
    margin-top: inherit;
  }
}

.paragraph--home-types-title {
  color: var(--primary);
  max-width: 300px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;

  @media(min-width: 1024px) {
    font-size: 21px;
    max-width: 400px;
  }
}
