.styledLinkContainer--menu-main-title-mobile {
  padding: 15px 30px;
  margin: 0;
  border-bottom: 1px solid rgba(125, 110, 91, 0.2);

  .styledLinkContent--menu-main-title-mobile {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 700;
    align-items: center;

    .accordionIcon--menu-main-title-mobile {
      font-size: 0;
      margin: 0;
      transition: .2s linear;

      &::before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='13' viewBox='0 0 8 13' fill='none'%3E%3Cpath d='M1 1L6.5 6.5L1 12' stroke='%237D6E5B' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
        background-size: 100%;
        background-repeat: no-repeat;
        width: 6px;
        height: 11px;
        display: block;
      }

      &.accordionIcon--isOpen {
        transform: rotate(90deg);
      }
    }
  }
}

.menuItem--header-mobile {
  border-bottom: 1px solid rgba(125,110,91,.2);
}

.submenuAccordion--menu-container-item-mobile {
  padding: 0;
  display: block;

  .styledLinkContainer--header-mobile {
    padding: 15px 30px;
    margin: 0;
    background: #F6F3F1;

    .styledLinkContent--header-mobile {
      font-size: 14px;
      text-transform: uppercase;
      color: #A01B2C;
      font-weight: 700;
      align-items: center;

      .accordionIcon--header-mobile {
        font-size: 0;
        margin: 0;
        transition: .2s linear;

        &::before {
          content: "";
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='14' viewBox='0 0 8 14' fill='none'%3E%3Cpath d='M1 1.25L6.5 6.75L1 12.25' stroke='%23A01B2C' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
          background-size: 100%;
          background-repeat: no-repeat;
          width: 6px;
          height: 11px;
          display: block;
        }

        &.accordionIcon--isOpen {
          transform: rotate(90deg);
        }
      }
    }
  }
}

// menu gerais
.styledLinkContainer--menu-container-mobile {
  padding: 15px 30px;
  margin: 0;
  border-bottom: 1px solid rgba(125, 110, 91, 0.2);

  .styledLinkContent--menu-container-mobile {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 700;
  }
}

.submenuAccordion--submenu-mobile {
  padding: 0;
  background: #F6F3F1;

  .styledLinkContainer {
    padding: 10px 30px;
    margin: 0;

    .styledLinkContent {
      font-size: 14px;
      color: #DD052A;
      text-transform: uppercase;
      font-weight: 400;
    }

    .styledLink--highlight {
      .styledLinkContent {
        font-weight: bold;
      }
    }
  }
}

.menuItem--menu-vertudo-mobile {
  order: 9999;

  .styledLinkContainer--menu-vertudo-mobile {
    padding: 10px 30px 20px 30px;
    margin: 0;

    .styledLinkContent--menu-vertudo-mobile {
      font-size: 14px;
      font-weight: 800;
      color: var(--secondary);
      display: block;
      transition: .2s linear;
    }
  }
}
