.container--menu-login-mobile {
  display: block;

  .paragraph--menu-login-mobile {
    margin: 0;

    .link--menu-login-mobile {
      border-radius: 28px;
      background: #F6F3F1;
      padding: 15px 20px;
      margin: 20px 15px;
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: 14px;
      text-transform: uppercase;
      text-decoration: none;
      color: var(--primary);
      font-weight: 700;

      &::before {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='24' viewBox='0 0 22 24' fill='none'%3E%3Cg clip-path='url(%23clip0_865_2403)'%3E%3Cpath d='M11.0007 2.02219C13.5326 2.02219 15.5911 4.05954 15.5911 6.56537C15.5911 9.0712 13.5326 11.1086 11.0007 11.1086C8.46888 11.1086 6.41037 9.0712 6.41037 6.56537C6.41037 4.05954 8.46888 2.02219 11.0007 2.02219ZM11.0007 0C7.33662 0 4.36719 2.93891 4.36719 6.56537C4.36719 10.1918 7.33662 13.1307 11.0007 13.1307C14.6648 13.1307 17.6343 10.1918 17.6343 6.56537C17.6343 2.93891 14.6631 0 11.0007 0Z' fill='%2388765E'/%3E%3Cpath d='M11.0005 16.4353C12.9075 16.4353 14.76 16.9712 16.3554 17.9839C17.9014 18.9647 19.1409 20.3448 19.9429 21.9778H2.05648C2.85843 20.3465 4.09796 18.9647 5.64397 17.9839C7.24106 16.9712 9.09185 16.4353 10.9988 16.4353M10.9988 14.4131C6.2416 14.4131 2.1331 17.1582 0.198884 21.1335C-0.446422 22.4614 0.551333 23.9999 2.03945 23.9999H19.9582C21.448 23.9999 22.4458 22.4614 21.7988 21.1335C19.8645 17.1565 15.756 14.4131 10.9988 14.4131Z' fill='%2388765E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_865_2403'%3E%3Crect width='22' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 100%;
        width: 22px;
        height: 24px;
      }
    }
  }
}
