.flexRowContent--search-not-found {
  margin: 70px 0;
  gap: 55px;
  justify-content: center;

  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    @media(max-width: 1026px) {
      width: 100%!important;
    }
  }

  @media(max-width: 1025px) {
    flex-direction: column;
  }
}

.flexCol--search-not-found-text {
  :global(.vtex-store-components-3-x-searchBarContainer) {
    width: 100%;

    :global(.vtex-search-2-x-biggy-autocomplete) {
      @media(min-width: 1026px) {
        right: -95px;
      }
    }
  }
}
